# Node Modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment Variables
.env

# Build Files
dist/
build/

# Uploads and Cache
backend/uploads/
client/.next/
client/.cache/

# IDE and OS files
.vscode/
.DS_Store
Thumbs.db

# Coverage Files
coverage/
